exportPattern("AcciMapRD")

importFrom("stats")
importFrom("readr","read_csv")
importFrom("dplyr","tbl_df","mutate","select","group_by","summarize","filter")
importFrom("tidyr","spread")
importFrom("maps","map")
importFrom("graphics","points")
